body {
  position: relative;
width: 644px;
height: 634px;
/* Grey / Light */
background: #E5E5E5;
/* Grey/Dark */

border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 8px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p{
right: 12.28%;
bottom: 14.17%;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
position: absolute;
width: 257px;
height: 20px;
left: 38px;
top: 267px;
/* Dark / Medium */
color: #4F4F4F;
}
